@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:700');

body, html {
  margin: 0;
  padding: 0;
  background: #FAFAFA;
  font-family: "Roboto", sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex: 44%;
  max-width: 720px;
  margin: 0 3%;
}

@media screen and (max-width: 720px) {
  .column {
    min-width: 94%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
}

h1 {
  margin: 1em 0;
}

h2 {
  margin: 2.2em 0 0.5em;
}

h3, h4, h5, h6 {
  margin: 1.5em 0 0.3em;
}

ol, ul {
}

li {
  line-height: 1.8;
}

p, blockquote, q {
  line-height: 2.0;
  margin-bottom: 1.0em;
}

blockquote {
  font-family: "Roboto Slab", serif;
  font-size: 1.2em;
  font-style: italic;
  margin: 1.5em 0;
  text-align: center;
}

q {
  font-weight: 700;
  display: block;
  text-align: center;
}

.header, .footer {
  background: #EEE;
  padding: 1em 3%;
}

.header p, .footer p {
  margin: 0;
}

.appendix {
  color: #666;
}
