@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:700');

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body, html {
  margin: 0;
  padding: 0;
  background: #F8F8FA;
  font-family: "Roboto", sans-serif;
  color: #303037;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex: 44%;
  max-width: 800px;
  margin: 0 3%;
}

@media screen and (max-width: 720px) {
  .column {
    min-width: 94%;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", serif;
  word-break: keep-all;
}

h1 {
  font-size: 36px;
  margin: 1em 0;
}

h2, h3 {
  margin: 2.2em 0 1.5em;
}

h2 a.pilcrow,
h3 a.pilcrow {
  visibility: hidden;
}

h2:hover a.pilcrow,
h3:hover a.pilcrow {
  visibility: visible;
}

a.pilcrow {
  margin-left: 10px
}

a:link, a:visited {
  text-decoration: none;
  border-bottom: 1px solid #B8B8FF;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid #303037;
}

h3, h4, h5, h6 {
  margin: 1.5em 0 0.3em;
}

ol, ul {
}

img {
  max-width: 100%;
}

li {
  line-height: 1.8;
}

p, blockquote, q {
  line-height: 2.0;
  margin: 0 0 1.0em;
  word-wrap: break-word;
}

blockquote {
  font-family: "Roboto Slab", serif;
  font-size: 1.2em;
  font-style: italic;
  margin: 1.5em 0;
  text-align: center;
  word-break: keep-all;
}

q {
  font-weight: 700;
  display: block;
  text-align: center;
}

.header, .footer {
  background: #EAEAEF;
  padding: 1em 3%;
}

.notification {
  background: #CDCDD6;
  padding: 1em 3%;
}

.header p, .footer p, .notification p {
  margin: 0;
}

.appendix {
  color: #666;
}

.pull-right {
  float: right;
}

.translators {
  display: flex;
  margin-bottom: 25px;
  flex-wrap: wrap;
  align-content: stretch;
}

.translator {
  display: flex;
  align-items: center;
}

.translator img {
  width: 40px;
  height: auto;
  border-radius: 50%;
  margin: 5px 10px;
}

.hidden {
  display: none;
}
