{% extends "templates/base.html" %}
{% block title %}{{ translation.title }}{% endblock %}
{% block head %}
  {% if original.source %}
  <link rel="alternate" href="{{ original.source }}"
    {% if original.link_hreflang %}
        hreflang="{{ original.link_hreflang }}"
    {% else %}
        hreflang="en"
    {% endif %}
    {% if original.link_title %}
        title="{{ original.link_title }}"
    {% endif %}
  />
  {% endif %}
{% endblock %}
{% block header %}
<div class="header">
  <p>
    <a href="/">← index</a>
    <span class="pull-right">
      <input type="checkbox" id="hide-original"/><label for="hide-original">Hide original</label>
    </span>
  </p>
  <p>
  </p>
</div>
{% if not finished %}
<div class="notification">
  <p>
    This document needs to be translated. Let's do it together on 
    <a href="https://github.com/zerobased-co/muchtrans/blob/master/{{ filename }}">GitHub</a>.
  </p>
</div>
{% endif %}
<div class="loading">
  <h1>Loading contents...</h1>
</div>
{% endblock %}
{% block content %}
<article>
  {% for src, dst in rows %}
  <div class="row">
    <div class="column original">
      {{ src }}
    </div>
    <div class="column translation">
      {{ dst }}
    </div>
  </div>
{% endfor %}
</article>
{% if translators|length > 0  %}
<div class="info">
  <div class="row">
    <div class="column original">
      {% if original.author %}
      <h3 id="author">Author</h3>
      <p>{{ original.author }}</p>
      {% else %}
      <h3 id="origin">Original</h3>
      {% endif %}
      {% if original.source %}
      <p>From <a href="{{ original.source }}" target="_blank">
        {% if original.source_title %}{{ original.source_title }}{% else %}{{ original.source }}{% endif %}</a>
      </p>
      {% endif %}
    </div>
    <div class="column translation">
      <h3 id="translators">Translators</h3>
      {% if latest_update %}
      <p>
        <a href="https://github.com/zerobased-co/muchtrans/commits/master/{{ filename }}">Latest update</a> at {{ latest_update }}
      </p>
      {% endif %}
      <div class="translators">
        {% for translator in translators %}
        <span class="translator">
          {% if translator.github %}
          <img src="{{ translator.github.avatar_url }}">
          <a href="{{ translator.github.html_url }}">{{ translator.name }}</a>
          {% else %}
          <img src="/static/images/avatar.png">
          <a href="mailto:{{ translator.email }}">{{ translator.name }}</a>
          {% endif %}
        </span>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if utterances %}
<div>
  <div class="row">
  {% include "templates/utterances.html" %}
  </div>
</div>
{% endif %}
{% endblock %}
{% block footer %}
<div class="footer">
  <p>Let's translate together on GitHub: <a href="https://github.com/zerobased-co/muchtrans">zerobased-co/muchtrans</a></p>
</div>
{% endblock %}
{% block script %}
<script>
window.addEventListener('load', function () {
  function toggleQueryParameter(key, value) {
    if (typeof URLSearchParams === 'undefined' || typeof history.replaceState === 'undefined') {
      return;
    }

    const urlParams = new URLSearchParams(window.location.search);
    if (value === false) {
      urlParams.delete(key);
    } else {
      urlParams.set(key, value);
    }

    const queryString = urlParams.toString();
    if (queryString.length > 0) {
      history.replaceState({}, 'toggle' + key, '?' + queryString);
    } else {
      const path = [location.protocol, '//', location.host, location.pathname].join('');
      history.replaceState({}, 'toggle' + key, path);
    }
  }

  function toggleOriginal(hide) {
    var originals = document.querySelectorAll('.original');
    for(var i = 0; i < originals.length; i++) {
      const node = originals[i];
      if (hide) {
        node.classList.add('hidden');
      } else {
        node.classList.remove('hidden');
      }
    };
  }

  const checkbox = document.getElementById('hide-original');
  checkbox.onclick = function () {
    toggleOriginal(checkbox.checked);
    toggleQueryParameter('hide-original', checkbox.checked);
  }

  const headers = document.querySelectorAll('h2[id], h3[id]');
  for(var i = 0; i < headers.length; i++) {
    const node = headers[i];
    const anchor = document.createElement("a");
    anchor.className = "pilcrow";
    anchor.text = "\xb6";
    anchor.href = "#" + node.id;
    node.appendChild(anchor);
  };

  if (typeof URLSearchParams !== 'undefined') {
    const urlParams = new URLSearchParams(window.location.search);
    if (urlParams.get('hide-original') == 'true') {
      checkbox.checked = true;
      toggleOriginal(true);
    }
  }

  if (window.location.hash) {
    const node = document.getElementById(window.location.hash.substring(1));
    if (typeof node !== 'undefined') {
      node.classList.add('highlighted');
    }
  }

  const article = document.getElementsByTagName('article')[0];
  article.style.visibility = 'visible';

  const loading = document.getElementsByClassName('loading')[0];
  loading.style.display = 'none';
});
</script>
{% endblock %}
