<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}Very first of muchtrans{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="/static/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="{% block og_image %}{{ hostname }}/static/images/muchtrans.png{% endblock %}"/>
  <meta property="og:title" content="{% block og_title %}Muchtrans{% endblock %}"/>
  <meta property="og:url" content="{% block og_url %}{{ hostname }}/{% endblock %}"/>
  <link rel="icon" type="image/png" href="/static/images/favicon.png" sizes="32x32" />
  {% if css %}
  <link rel="stylesheet" type="text/css" href="{{ css }}">
  {% endif %}
  {% block head %}{% endblock %}
</head>
<body>
  {% block header %}{% endblock %}
  {% block content %}{% endblock %}
  {% block footer %}{% endblock %}
  {% include "templates/gtag.html" %}
</body>
<script>
const is_dark_mode = localStorage.getItem('darkmode') === 'true';

function toggleDarkmode(dark) {
  var body = document.body;
  if (dark) {
    body.classList.add('dark');
  } else {
    body.classList.remove('dark');
  }
}

document.addEventListener('DOMContentLoaded', function () {
  const dark_checkbox = document.getElementById('darkmode');
  dark_checkbox.checked = is_dark_mode;
  toggleDarkmode(is_dark_mode);
  dark_checkbox.onclick = function () {
    toggleDarkmode(dark_checkbox.checked);
    localStorage.setItem('darkmode', dark_checkbox.checked);
  }
});
</script>
{% block script %}{% endblock %}
</html>
