{% extends "templates/base.html" %}
{% block head %}
{% for language, feed in feed_list %}
<link rel="alternate" type="application/rss+xml" title="muchtrans.com" hreflang="{{ language }}" href="{{ feed }}"/>
{% endfor %}
{% endblock %}
{% block header %}
<div class="header">
  <h1>Muchtrans</h1>
  <p>There are too much cool text to be translated in this world.</p>
</div>
{% endblock %}
{% block content %}
<div class="index">
  <div class="row">
    <div class="column">
      <h1>List of translations</h1>
    </div>
    <div class="column">
    {% for month, articles in article_list %}
      <h3>{{ month }}</h3>
      <ul>
      {% for article in articles %}
        <li><a href="{{ article.url }}">{{ article.title }}</a></li>
      {% endfor %}
      </ul>
    {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}
<div class="footer">
  <p class="feed">RSS feed: 
    {% for language, feed in feed_list %}
    <span><a href="{{ feed }}">{{ language }}</a></span>
    {% endfor %}
  </p>
  <p>The name of <code>muchtrans.com</code> was designated by <a href="https://github.com/youknowone">youknowone</a></p>
  <p>Fork me on <a href="https://github.com/zerobased-co/muchtrans/">GitHub</a></p>
  <p>Brought to you by <a href="http://zerobased.co/">zerobased.co</a> via <a href="https://www.netlify.com/">netlify</a></p>
</div>
{% endblock %}
{% block script %}
<script>
window.addEventListener('load', function () {
  if (localStorage.getItem('darkmode') == 'true') {
    toggleDarkmode(true);
  }
});
</script>
{% endblock %}
