@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab:400,700');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700|Noto+Serif+KR:400,700');

* {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body, html {
  margin: 0;
  padding: 0;
  background: #F8F8F8;
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 1.028em;
  color: #303030;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex: 1;
  width: 44%;
  max-width: 800px;
  margin: 0 3%;
}

@media screen and (max-width: 720px) {
  .row {
    display: block;
  }
  .column {
    width: 94%;
  }
}

@media print {
  body, html {
    background: #FFF;
    font-size: 1.0em;
    color: #000;
  }

  a:after {
    content: " (" attr(href) ") ";
    font-size: 0.8em;
    font-weight: normal;
    font-style: normal;
  }

  .header, .footer, .info {
    display: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", "Noto Serif KR", serif;
  word-break: keep-all;
}

h1 {
  font-size: 2em;
  margin: 0.75em 0 0.5em;
}

h2 {
  font-size: 1.6em;
  margin: 2.5em 0 1.0em;
}

h3 {
  font-size: 1.36em;
  margin: 1.8em 0 0.75em;
}

h4, h5, h6 {
  font-size: 1.14em;
  margin: 1.8em 0 0.75em;
}

h2 a.pilcrow,
h3 a.pilcrow {
  visibility: hidden;
}

h2:hover a.pilcrow,
h3:hover a.pilcrow {
  visibility: visible;
}

a.pilcrow {
  margin-left: 10px
}

a:link, a:visited {
  text-decoration: none;
  border-bottom: 1px solid #B8B8FF;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid #303030;
}

em {
  padding: 0 0.15em;
}

ol, ul {
  padding-left: 32px;
  margin: 0.5em 0;
}

img, object {
  max-width: 100%;
}

li {
  line-height: 1.625;
  margin: 0 0 0.25em;
}

p, blockquote, q {
  line-height: 1.865;
  margin: 0 0 1.0em;
  word-wrap: break-word;
}

blockquote {
  font-family: "Roboto Slab", "Noto Serif KR", serif;
  font-size: 1.2em;
  font-style: italic;
  margin: 1.5em 0;
  text-align: center;
  word-break: keep-all;
}

q {
  font-weight: 700;
  display: block;
  text-align: center;
}

pre {
  background: #EAEAEA;
  padding: 15px;
  border: 1px solid #CDCDD6;
  border-radius: 3px;
  margin-top: 0;
  overflow-x: scroll;
}

h1 code, h2 code, h3 code, p code, li code {
  background: #EAEAEA;
  padding: 1px 3px;
  border: 1px solid #CDCDD6;
  border-radius: 3px;
}

article {
  visibility: hidden;
}

.header, .footer {
  background: #EAEAEA;
  padding: 1em 3%;
}

.notification {
  background: #CDCDCD;
  padding: 1em 3%;
}

.loading {
  padding: 1em 3%;
  text-align: center;
  z-index: 1000;
  position: absolute;
}

.header p, .footer p, .notification p {
  margin: 0;
}

.appendix {
  color: #666;
}

.pull-right {
  float: right;
}

.translators {
  display: flex;
  margin-bottom: 25px;
  flex-wrap: wrap;
  align-content: stretch;
}

.translator {
  display: flex;
  align-items: center;
}

.translator img {
  width: 40px;
  height: auto;
  border-radius: 50%;
  margin: 5px 10px;
}

.hidden {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

.highlighted {
  background: #00ffe1;
  padding: 0.25em;
}
